@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Outfit, Arial, Helvetica, sans-serif;
    background-color: rgb(220, 220, 220);
}